## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [59]:
import os
import numpy as np
import pandas as pd

In [60]:
# 設定 data_path
dir_data = './data/'

In [61]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [62]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [63]:
app_train.all()

SK_ID_CURR                     True
TARGET                        False
NAME_CONTRACT_TYPE             True
CODE_GENDER                    True
FLAG_OWN_CAR                   True
FLAG_OWN_REALTY                True
CNT_CHILDREN                  False
AMT_INCOME_TOTAL               True
AMT_CREDIT                     True
AMT_ANNUITY                    True
AMT_GOODS_PRICE                True
NAME_TYPE_SUITE                True
NAME_INCOME_TYPE               True
NAME_EDUCATION_TYPE            True
NAME_FAMILY_STATUS             True
NAME_HOUSING_TYPE              True
REGION_POPULATION_RELATIVE     True
DAYS_BIRTH                     True
DAYS_EMPLOYED                 False
DAYS_REGISTRATION             False
DAYS_ID_PUBLISH               False
OWN_CAR_AGE                   False
FLAG_MOBIL                    False
FLAG_EMP_PHONE                False
FLAG_WORK_PHONE               False
FLAG_CONT_MOBILE              False
FLAG_PHONE                    False
FLAG_EMAIL                    False
OCCUPATION_TYPE                True
CNT_FAM_MEMBERS                True
                              ...
DEF_30_CNT_SOCIAL_CIRCLE      False
OBS_60_CNT_SOCIAL_CIRCLE      False
DEF_60_CNT_SOCIAL_CIRCLE      False
DAYS_LAST_PHONE_CHANGE        False
FLAG_DOCUMENT_2               False
FLAG_DOCUMENT_3               False
FLAG_DOCUMENT_4               False
FLAG_DOCUMENT_5               False
FLAG_DOCUMENT_6               False
FLAG_DOCUMENT_7               False
FLAG_DOCUMENT_8               False
FLAG_DOCUMENT_9               False
FLAG_DOCUMENT_10              False
FLAG_DOCUMENT_11              False
FLAG_DOCUMENT_12              False
FLAG_DOCUMENT_13              False
FLAG_DOCUMENT_14              False
FLAG_DOCUMENT_15              False
FLAG_DOCUMENT_16              False
FLAG_DOCUMENT_17              False
FLAG_DOCUMENT_18              False
FLAG_DOCUMENT_19              False
FLAG_DOCUMENT_20              False
FLAG_DOCUMENT_21              False
AMT_REQ_CREDIT_BUREAU_HOUR    False
AMT_REQ_CREDIT_BUREAU_DAY     False
AMT_REQ_CREDIT_BUREAU_WEEK    False
AMT_REQ_CREDIT_BUREAU_MON     False
AMT_REQ_CREDIT_BUREAU_QRT     False
AMT_REQ_CREDIT_BUREAU_YEAR    False
Length: 122, dtype: bool

#### 截取部分資料

In [64]:
app_train.iloc[[0]]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子